@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap');
@import "../../node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import"fonts";
@import"variables";
@import"typography";
@import"buttons";


@import"pages/main";
@import"pages/catalog";

body {
	min-width: 320px;
	font-family: 'SF Pro Display', Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: $textcolor;
	line-height: 1.5;
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;

	&:hover {
		color: inherit;
		text-decoration: none;
	}
}

img {
	display: block;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

button {
	display: inline-block;
	padding: 0;
	color: inherit;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	transition: all .3s ease;
}

input,
textarea {
	outline: none;

	&:focus:required:invalid {
		border-color: #FF504F;
	}

	&:required:valid {
		border-color: #00B669;
	}
}

::placeholder {
	color: $gray;
}

::selection {
	background-color: $accent;
	color: $white;
}

.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.section {
	margin-bottom: 80px;
}
